/.eggs/README.txt
/.eggs/
/.idea/
/venv/
/tilia.egg-info/
/.pytest_cache/
/build/installer_script.iss
/build/*.exe
/build/build/
/build/dist/
/build/ffmpeg/
__pycache__/
tilia/_dev.py
pytest.ini
.coverage
.vscode
