.coverage
.vscode/
/.eggs/
/.eggs/README.txt
/.idea/
/.pytest_cache/
/build/*.exe
/build/build/
/build/dist/
/build/ffmpeg/
/build/installer_script.iss
/tilia.egg-info/
/venv/
__pycache__/
mypy.ini
pytest.ini
tilia/_dev.py
